/* Border */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Bredd för inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Detta ändrar stilerna för alla knappar */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Animation */
  button:hover {
    opacity: 0.8;
  }
  
  /* Ändrar avbryta knappen */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Centrerar profilbilden*/
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Profilbild */
  img.avatar {
    width: 19%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* Detta är glömt lösenord text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Ändrar stiler för små skärmar */
  @media screen and (max-width: 800px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }